<h1>Users</h1>



{{#each users}}

<p> ID: {{this.id}}</p><br>
<p>Nome: {{this.nome}}</p><br>
<a href="/usuarios/{{this.id}}">Ver</a><br>
<a href="/usuarios/edit/{{this.id}}">Editar</a>
<form action="/usuarios/remove/{{this.id}}" method="POST">
<input type="submit" value="remover">
</form>


<hr>


{{/each}}


<h2></h2>