{{ body }}


Edit: {{ user.name }}<br>
{{ user.occupation }}<br>
{{ user.newsletter }}<br>



<form action="/edit" method="POST">

    <input type="hidden" name="id" value="{{ user.id }}">
    <input type="text" name="name" placeholder="{{ user.name }}">
    <input type="text" name="occupation" placeholder="{{user.occupation}}">
    <input type="text" name="newsletter" placeholder="{{ user.newsletter }}">

    <input type="submit" value="send">

</form>

<h1>Addres</h1>
<form action="/createAdress" method="POST">

    <input type="hidden" name="UserId" value="{{user.id}}">
    <input type="text" name="street" placeholder="street">
    <input type="text" name="number" placeholder="number">
    <input type="text" name="city" placeholder="city">

    <input type="submit" value="send">

</form>